html,
body {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D1DAE5;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #D1DAE5 13px ), repeating-linear-gradient( #2374E455, #2374E4 );
 color: #fff;
  overflow-x: hidden;
}



#root {
  min-height: 100vh;
  display: flex;
}

h1 {
  font-size: 5rem;
  font-family: 'Zen Tokyo Zoo', cursive;  
  color: #09FA5B;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #1e2834;
  -webkit-text-fill-color: #09fa59;

}

h2 {
  font-size: 1.5rem;
  font-family: 'Zen Tokyo Zoo', cursive;  
  background-color: white;
  color: #1e2834;
  -webkit-text-stroke-width: .05px;
  -webkit-text-stroke-color: #1e2834;
  -webkit-text-fill-color: #09fa59;
  padding: 1rem;
  border-radius: 1rem;
  color: #000;
  box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.4);

}

.thankyou {
  font-size: 2rem;
  background-color: white;
  font-family: 'Zen Tokyo Zoo', cursive;  
  color: #1e2834;
  padding: 1rem;
  border-radius: 1rem;
  color: #000;
  box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.4);
}

.note {
  background-color: white;
  color: #1e2834;
  padding: 1rem;
  border-radius: 1rem;
  color: #000;
  box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.4);
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.unsupported-network {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
}

.error {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f00;
}

.landing,
.connect-wallet,
.mint-nft,
.member-page {
  flex-direction: column;
  width: 960px;
  max-width: calc(100% - 1rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  align-content: center;
  display: flex;
  text-align: center;
}

.member-page > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  gap: 2rem;
}
.member-page > div > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .member-page > div {
    flex-direction: column;
  }
  .member-page > div > div {
    width: 100%;
  }
}

.member-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form h5 {
  margin-top: 0;
  color: #2373e4;
}

.member-page form .card > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.member-page form small {
  text-align: center;
}

.card {
  background-color: #09fa59;
  padding: 1rem;
  border-radius: 1rem;
  color: #000;
  box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.4);
}

button {
  cursor: pointer;
  background-color: #1E2834;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #1e2834;
  -webkit-text-fill-color: #ffffff;  
  border: none;
  font-weight: bold;
  font-family: 'Zen Tokyo Zoo', cursive;  
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  border-radius: 0rem;
  font-size: 1.2rem;
  background: #3498db;
  background-color: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-color: -moz-linear-gradient(top, #3498db, #2980b9);
  background-color: -ms-linear-gradient(top, #3498db, #2980b9);
  background-color: -o-linear-gradient(top, #3498db, #2980b9);
  background-color: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-box-shadow: 0px 3px 6px #666666;
  -moz-box-shadow: 0px 3px 6px #666666;
  box-shadow: 0px 3px 6px #666666;
}

button:hover {
  background-color: #09FA5B;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #2373e4;
  -webkit-text-fill-color: #1E2834;}

button:focus {
  background-color: #222;
}

button:disabled {
  opacity: 0.8;
  pointer-events: none;
}
